<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!-- Application and Frameworks' Styles -->
	<link type="text/css" rel="stylesheet" href="css/alertify/alertify.min.css">
	<link type="text/css" rel="stylesheet" href="css/alertify/themes/default.min.css">
	<link type="text/css" rel="stylesheet" href="css/vendor/backbone.modal.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/backbone.modal.theme.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/forms.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/buttons-core.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/buttons.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/menus.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/tables.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/jquery.jgrowl.min.css">
    <link type="text/css" rel="stylesheet" href="css/typeahead.css">
    <link type="text/css" rel="stylesheet" href="css/user_profile.css">
    <link type="text/css" rel="stylesheet" href="css/app.css">
    <link type="text/css" rel="stylesheet" href="css/inventory.css">

    <!-- JS Libraries -->
    <script type="text/javascript" src='js/vendor/alertify.min.js'></script>
    <script type="text/javascript" src="js/vendor/accounting.min.js"></script>

    <!-- JQuery -->
	<script type="text/javascript" src="js/vendor/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="js/vendor/typeahead.min.js"></script>

	<!-- Backbone JS -->
	<script type="text/javascript" src="js/vendor/underscore-min.js"></script>
	<script type="text/javascript" src="js/vendor/backbone-min.js"></script>
	<script type="text/javascript" src="js/vendor/backbone.modal.js"></script>
	<script type="text/javascript" src="js/app/views/activeInventoryView.js"></script>
	<script type="text/javascript" src="js/app/views/modifyStockDialog.js"></script>
	<script type="text/javascript" src="js/app/views/modifyStockView.js"></script>

	<script type="text/javascript" src="js/app/init_inventory.js"></script>

	<title>Inventory Manager</title>
</head>
<body>
	<div class="modifyProductStock dialogOverlay"></div>
	<div class="loaderOverlay dialogOverlay"><a href="#" class="refresh"></a></div>

	<div class="app-wrap inventory-manager">
    	<div class="header region gradient">
	    	<div class="viewport-main">
	    	</div>
	    	<div class="left region logo"></div>
	    	<div class="right region">
	    		<a href="#" class="exit-app">Close</a>
	    		<h2>Inventory Manager</h2>
	    	</div>
    	</div>
    	<div class="content region">
	    	<div class="viewport-main activeInventory">
	    		<div class="item-search"></div>
	    		<div class="ticket-container"></div>
	    	</div>
    	</div>
	</div>

	<script type="text/template" id="item-search-components">
		<a href="#" class="clear-search">Clear</a>
		<input class="search typeahead" placeholder="Scan or Search Products ..." autocomplete="off" type="text" />
	</script>

	<script type="text/template" id="item-search-result">
		<div class="search-result">
			<div class="info">
			<div class="sku"><%= sku %></div>
			<div class="name"><%= name %></div>
			<div class="sell_price"><%= accounting.formatMoney(sell_price) %></div>
			<div class="packaging"><%= packaging %></div>
			</div>
			<div class="image" style="background-image: url(<%= image %>);"></div>
		</div>
	</script>

	<script type="text/template" id="pagination-template">
		<div class="item-pagination">
			<ul><% var i = 1; while(i <= total_pages) { %>
				<% if(currentPage == i.toString()) { %>
					<li class="active"><%= i %></li>
				<% } else { %>
					<li><a href="#" data-page-num="<%= i %>"><%= i %></a></li>
				<% } %>
			<% i++; } %></ul>
		</div>
	</script>

	<script type="text/template" id="inventory-line-item-heading">
		<div class="inventory-item" id="inventory-item-id-<%= nid %>" data-product-nid="<%= nid %>" data-product-name="<%= product.name %>" data-product-image="<%= product.thumbnail %>" data-product-packaging="<%= product.packaging %>">
			<div class="product-table line-item-title" id="line-item-title-<%= nid %>">
				<div class="line-item-heading">
					<div class="image"></div>
					<div class="sku">Barcode</div>
					<div class="packaging">Pckg.</div>
					<div class="name">Product</div>
					<div class="price">Price</div>
				</div>
				<div id="line-item-<%= product.id %>" data-id="<%= product.id %>" class="line-item">
					<div class="image" style="background-image: url(<%= product.image %>);"></div>
					<div class="sku"><%= product.sku %></div>
					<div class="packaging"><%= product.packaging %></div>
					<div class="name"><%= product.name %></div>
					<div class="price"><%= accounting.formatMoney(product.sell_price) %></div>
				</div>
			</div>
			<div class="product-table line-item-log" id="line-item-log-<%= nid %>">
				<div class="line-item-heading">
					<div class="name">Quantity Purchased</div>
					<div class="name">Vendor</div>
					<div class="name">Purchase Unit</div>
					<div class="name">Date</div>
					<div class="name">Reset</div>
					<div class="name">Qty After</div>
				</div>
				<% _.each(log_events, function(log_event) { %>
					<div id="line-item-<%= product.id %>" data-id="<%= product.id %>" class="line-item">
						<div class="name"><%= log_event[0] %></div>
						<div class="name"><%= log_event[1] %></div>
						<div class="name"><%= log_event[2] %></div>
						<div class="name"><%= log_event[3] %></div>
						<div class="name"><%= log_event[4] %></div>
						<div class="name"><%= log_event[6] %></div>
					</div>
				<% }); %>
			</div>
		</div>
	</script>

	<script type="text/template" id="modify-stock-dialog">
		<div class="bbm-modal__topbar">
			<h3 class="bbm-modal__title title">Add/Reset Stock</h3>
		</div>
		<div class="bbm-modal__section">
			<div class="add-to-stock-form"></div>
		</div>
		<div class="bbm-modal__bottombar login-modal-bottombar">
		<a href="#" class="pure-button pure-button-error price-override-cancel">Cancel</a>
		</div>
	</script>
</body>
</html>