<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!-- Application and Frameworks' Styles -->
	<link type="text/css" rel="stylesheet" href="css/vendor/backbone.modal.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/backbone.modal.theme.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/forms.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/buttons-core.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/buttons.css">
    <link type="text/css" rel="stylesheet" href="css/typeahead.css">
    <link type="text/css" rel="stylesheet" href="css/app.css">

    <!-- JS Libraries -->
    <script type="text/javascript" src="js/vendor/accounting.js"></script>

    <!-- JQuery -->
	<script type="text/javascript" src="js/vendor/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="js/vendor/typeahead.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.kinetic.min.js"></script>

	<!-- Backbone JS -->
	<script type="text/javascript" src="js/vendor/underscore-min.js"></script>
	<script type="text/javascript" src="js/vendor/backbone-min.js"></script>
	<script type="text/javascript" src="js/vendor/backbone.modal.js"></script>
	
	<!-- Nodewebkit Specific Code -->
	<script type="text/javascript" src="js/app/native/clipboard.js"></script>

	<!-- Models -->
	<script type="text/javascript" src="js/app/models/employeeSession.js"></script>
	<script type="text/javascript" src="js/app/models/ticketProduct.js"></script>
	<script type="text/javascript" src="js/app/models/Ticket.js"></script>

	<!-- Views -->
	<script type="text/javascript" src="js/app/views/loginView.js"></script>
	<script type="text/javascript" src="js/app/views/employeeOperationsView.js"></script>
	<script type="text/javascript" src="js/app/views/activeTicketView.js"></script>
	<script type="text/javascript" src="js/app/views/loginModal.js"></script>

	<!-- Bootstrap App -->
	<script type="text/javascript" src="js/app/init.js"></script>

	<title>Point of Sale</title>
</head>
<body>
	<div class="modalOverlay"></div>

	<div class="app-wrap">
    	<div class="header region gradient">
	    	<div class="viewport-main"></div>
	    	<div class="left region logo"></div>
	    	<div class="right region employeeOperations">
	    		<div class="wrapper">
	    			<div class="greeting"></div>
	    			<div class="controls"></div>
	    			<div class="clock"></div>
	    		</div>
	    	</div>
    	</div>
    	<div class="content region">
	    	<div class="viewport-main activeTicket">
	    		<div class="item-search"></div>
	    		<div class="mousetrap">
	    			<div class="ticket-container"></div>
	    		</div>
	    	</div>
	    	<div class="left region"></div>
	    	<div class="right region"></div>
    	</div>
    	<div class="footer region">
    		<div class="viewport-main register-display">
    			<div class="subtotal calculation"></div>
    		</div>
    	</div>
	</div>

	<script type="text/template" id="login-modal">
		<div class="bbm-modal__topbar">
			<h3 class="bbm-modal__title test">Employee Login</h3>
		</div>
		<form name="login-form" method="post" class="pure-form pure-form-stacked login-form">
			<div class="bbm-modal__section">
				<p>Login using your General Goods Wholesale Employee ID and Password.</p>
			        <label for="uname">Employee ID</label>
			        <input id="login-uname" name="uname" type="text" placeholder="Employee ID">

			        <label for="password">Password</label>
			        <input id="login-password" name="password" type="password" placeholder="Password">
			</div>
			<div class="bbm-modal__bottombar login-modal-bottombar">
				<div class="preloader"></div>
				<button id="login-button" type="submit" class="pure-button pure-button-success">Login</button>
			</div>
		</form>
	</script>

	<script type="text/template" id="employee-operations-buttons">
		<a class="pure-button pure-button-success clock-in" href="#">Clock In</a>
		<a class="pure-button pure-button-success lunch-in" href="#">Lunch In</a>
		<a class="pure-button pure-button-error logout" href="#">Logout</a>
	</script>

	<script type="text/template" id="item-search-components">
		<input class="search typeahead" placeholder="Search Items ..." autocomplete="off" type="text" />
	</script>

	<script type="text/template" id="item-search-result">
		<div class="search-result">
			<div class="info">
			<div class="sku"><%= sku %></div>
			<div class="name"><%= name %></div>
			</div>
			<div class="image" style="background-image: url(<%= image %>);"></div>
		</div>
	</script>

	<script type="text/template" id="labelize-data">
		<span class="label"><%= label %>: </span><span class="value"><%= value %></span>
	</script>

	<script type="text/template" id="ticket-line-item-heading">
		<div class="line-item-heading">
			<div class="sku">Barcode</div>
			<div class="name">Product</div>
			<div class="price">Price</div>
			<div class="image"></div>
			<div class="qty">Qty</div>
		</div>
	</script>

	<script type="text/template" id="ticket-line-item">
		<div id="line-item-<%= id %>" data-id="<%= id %>" class="line-item">
			<div class="sku"><a href="#" class="delete-item">Delete Product</a> <%= sku %></div>
			<div class="name"><%= name %></div>
			<div class="price"><%= accounting.formatMoney(sell_price) %></div>
			<div class="image"><img src="<%= thumbnail %>" alt="" width="35" height="35" /></div>
			<div class="qty">
				<span class="value"><%= qty %></span>
				<a href="#" class="increase">+</a>
				<a href="#" class="decrease">-</a>
			</div>
		</div>
	</script>
</body>
</html>