<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!-- Application and Frameworks' Styles -->
	<link type="text/css" rel="stylesheet" href="css/vendor/backbone.modal.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/backbone.modal.theme.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/forms.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/buttons-core.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/buttons.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/menus.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/tables.css">
    <link type="text/css" rel="stylesheet" href="css/vendor/jquery.jgrowl.min.css">
    <link type="text/css" rel="stylesheet" href="css/typeahead.css">
    <link type="text/css" rel="stylesheet" href="css/user_profile.css">
    <link type="text/css" rel="stylesheet" href="css/app.css">

    <!-- JS Libraries -->
    <script type="text/javascript" src="js/vendor/accounting.js"></script>
    <script type="text/javascript" src="js/vendor/mousetrap.min.js"></script>
    <script type="text/javascript" src="js/vendor/cardparser.js"></script>
    <script type="text/javascript" src='js//vendor/big.js/big.min.js'></script>

    <!-- JQuery -->
	<script type="text/javascript" src="js/vendor/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="js/vendor/typeahead.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.kinetic.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.jgrowl.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.cardswipe.js"></script>

	<!-- Backbone JS -->
	<script type="text/javascript" src="js/vendor/underscore-min.js"></script>
	<script type="text/javascript" src="js/vendor/backbone-min.js"></script>
	<script type="text/javascript" src="js/vendor/backbone.modal.js"></script>
	
	<!-- Nodewebkit Specific Code -->
	<script type="text/javascript" src="js/app/native/clipboard.js"></script>

	<!-- Models -->
	<script type="text/javascript" src="js/app/models/employeeSession.js"></script>
	<script type="text/javascript" src="js/app/models/ticketProduct.js"></script>
	<script type="text/javascript" src="js/app/models/Ticket.js"></script>
	<script type="text/javascript" src="js/app/models/activeCustomer.js"></script>
	<script type="text/javascript" src="js/app/models/rmaTicket.js"></script>
	<script type="text/javascript" src="js/app/models/rmaItemsCollection.js"></script>

	<!-- Views -->
	<script type="text/javascript" src="js/app/views/loginView.js"></script>
	<script type="text/javascript" src="js/app/views/employeeOperationsView.js"></script>
	<script type="text/javascript" src="js/app/views/ticketStatusDialogView.js"></script>
	<script type="text/javascript" src="js/app/views/checkoutDialogView.js"></script>
	<script type="text/javascript" src="js/app/views/managerPriceView.js"></script>
	<script type="text/javascript" src="js/app/views/invoiceDialogView.js"></script>
	<script type="text/javascript" src="js/app/views/rmaDialogView.js"></script>
	<script type="text/javascript" src="js/app/views/activeCustomerView.js"></script>
	<script type="text/javascript" src="js/app/views/authorizationView.js"></script>
	<script type="text/javascript" src="js/app/views/customerInfoDialogView.js"></script>
	<script type="text/javascript" src="js/app/views/searchTicketView.js"></script>
	<script type="text/javascript" src="js/app/views/activeTicketView.js"></script>
	<script type="text/javascript" src="js/app/views/loginModal.js"></script>
	<script type="text/javascript" src="js/app/views/authorizationModal.js"></script>
	<script type="text/javascript" src="js/app/views/ticketStatusDialogModal.js"></script>
	<script type="text/javascript" src="js/app/views/checkoutDialogModal.js"></script>
	<script type="text/javascript" src="js/app/views/managerPriceDialog.js"></script>
	<script type="text/javascript" src="js/app/views/invoiceDialogModal.js"></script>
	<script type="text/javascript" src="js/app/views/rmaDialogModal.js"></script>
	<script type="text/javascript" src="js/app/views/customerInfoDialogModal.js"></script>

	<!-- Bootstrap App -->
	<script type="text/javascript" src="js/app/init.js"></script>

	<title>Point of Sale</title>
</head>
<body>
	<div class="statusOverlay dialogOverlay"></div>
	<div class="checkoutOverlay dialogOverlay"></div>
	<div class="invoiceDialogOverlay dialogOverlay"></div>
	<div class="customerInfoOverlay dialogOverlay"></div>
	<div class="rmaItemSelectOverlay dialogOverlay"></div>
	<div class="managerPrice dialogOverlay"></div>
	<div class="unlockAuthorizationOverlay dialogOverlay"></div>
	<div class="managerAuthorizationOverlay dialogOverlay"></div>
	<div class="modalOverlay dialogOverlay"></div>
	<div class="calcOverlay dialogOverlay"></div>
	<div class="loaderOverlay dialogOverlay"><a href="#" class="refresh"></a></div>

	<div class="app-wrap">
    	<div class="header region gradient">
	    	<div class="viewport-main">
	    		<a href="#" class="calculator-button">Calculator</a>
	    		<ul class="menu">
	    			<li class="customer-info-item hiddenItem"><a href="#" class="customer-info-button">Customer Info</a></li>
	    			<li><a href="#" class="recent-tickets-button">Recent Tickets</a></li>
	    			<li><a href="#" class="quote-tickets-button">RMA Tickets</a></li>
	    			<li><a href="#" class="open-tickets-button">Open Tickets</a></li>
	    			<li><a href="#" class="closed-tickets-button">Closed Tickets</a><li>
	    			<li><a href="#" class="new-ticket-button">New Ticket</a></li>
	    		</ul>
	    	</div>
	    	<div class="left region logo"></div>
	    	<div class="right region employeeOperations">
	    		<div class="wrapper">
	    			<div class="greeting"></div>
	    			<div class="controls"></div>
	    			<div class="clock"></div>
	    		</div>
	    	</div>
    	</div>
    	<div class="content region">
	    	<div class="viewport-main activeTicket">
	    		<div class="item-search"></div>
	    		<div class="ticket-container"></div>
	    	</div>
	    	<div class="left region activeCustomer">
	    		<div class="customer-search"></div>
	    	</div>
	    	<div class="right region ticketSearch">
	    		<div class="checkout"></div>
	    		<div class="rma-process"></div>
	    		<div class="ticket-search"></div>
	    		<div class="last-scan-item"></div>
	    		<div class="progress"></div>
	    		<div class="lock-indicator">
	    			<a class="lock-toggle" href="#">Unlock</a>
	    			<a class="print-ticket" href="#">Print</a>
	    		</div>
	    	</div>
    	</div>
    	<div class="footer region">
    		<div class="viewport-main register-display">
    			<div class="subtotal calculation"></div>
    			<div class="product-count calculation"></div>
    			<div class="category-breakdown"></div>
    		</div>
    	</div>
	</div>

	<script type="text/template" id="dash-calculator">
		<div class="bbm-wrapper">
		<iframe src="bundles/calc/index.html" width="380" height="420"></iframe>
		<a href="#" class="clear-calculator">Clear</a>
		</div>
	</script>

	<script type="text/template" id="login-modal">
		<div class="bbm-modal__topbar">
			<h3 class="bbm-modal__title title">Employee Login</h3>
		</div>
		<form name="login-form" method="post" class="pure-form pure-form-stacked login-form">
			<div class="bbm-modal__section">
				<p>Login using your General Goods Wholesale Employee ID and Password.</p>
			        <label for="uname">Employee ID</label>
			        <input id="login-uname" name="uname" type="text" placeholder="Employee ID">

			        <label for="password">Password</label>
			        <input id="login-password" name="password" type="password" placeholder="Password">
			</div>
			<div class="bbm-modal__bottombar login-modal-bottombar">
				<div class="preloader"></div>
				<button id="login-button" type="submit" class="pure-button pure-button-success">Login</button>
			</div>
		</form>
	</script>

	<script type="text/template" id="authorization-modal">
		<div class="bbm-modal__topbar">
			<h3 class="bbm-modal__title title"><%= title %></h3>
		</div>
		<form name="login-form" method="post" class="pure-form pure-form-stacked authorization-form login-form">
			<div class="bbm-modal__section">
				<p>Login using your General Goods Wholesale Manager ID and Password.</p>
			        <label for="uname">Manager ID</label>
			        <input id="login-uname" name="uname" type="text" placeholder="Manager ID">

			        <label for="password">Password</label>
			        <input id="login-password" name="password" type="password" placeholder="Password">
			</div>
			<div class="bbm-modal__bottombar login-modal-bottombar">
				<div class="preloader"></div>
				<a href="#" class="pure-button pure-button-error authorize-cancel-button">Cancel</a>
				<button id="login-button" type="submit" class="pure-button pure-button-success">Authorize</button>
			</div>
		</form>
	</script>

	<script type="text/template" id="manager-price-modal">
		<div class="bbm-modal__topbar">
			<h3 class="bbm-modal__title title">Price Override</h3>
		</div>
		<div class="bbm-modal__section">
			<div class="price-override-settings"></div>
		</div>
		<div class="bbm-modal__bottombar login-modal-bottombar">
		<a href="#" class="unlock-price-override">Unlock</a>
		<a href="#" class="pure-button pure-button-error price-override-cancel">Cancel</a>
		<a href="#" class="pure-button pure-button-success price-override-continue">Change Price</a>
		</div>
	</script>

	<script type="text/template" id="price-override-settings-form">
		<div class="product-info">
			<div class="product-info-item product-barcode"><%= labelizeData({
					label: "Barcode",
					value: product.sku
				}) %></div>
			<div class="product-info-item product-name"><%= labelizeData({
					label: "Product Name",
					value: product.name
				}) %></div>
			<div class="product-info-item packaging-packaging"><%= labelizeData({
					label: "Packaging",
					value: product.packaging
				}) %></div>
			<% if(product.retail) { %>
				<div class="product-info-item cust-price"><%= labelizeData({
					label: "Price",
					value: accounting.formatMoney(product.price)
				}) %></div>
			<% } else { %>
				<div class="product-info-item orig-price"><%= labelizeData({
						label: "Original Price",
						value: accounting.formatMoney(product.sell_price)
					}) %></div>

				<div class="product-info-item cust-price"><%= labelizeData({
					label: "Customer's Price",
					value: accounting.formatMoney(product.price)
				}) %></div>
			<% } %>

			<div class="product-info-item new-price"><%= labelizeData({
					label: "New Price",
					value: '<input name="overriden-price" class="overriden-price" value="'+accounting.formatNumber(product.price, 2, "", ".")+'" />'
				}) %></div>
		</div>
		<div class="product-info-item qty-split" data-orig-split="<%= split %>"><%= labelizeData({
					label: "Quantity Split",
					value: '<span class="split-value">'+split+'</span><a href="#" class="decr">-</a><a href="#" class="incr">+</a>'
				}) %>
		</div>
	</script>

	<script type="text/template" id="ticket-status-modal">
		<div class="bbm-modal__topbar ticket-status-header">
			<h3 class="bbm-modal__title title">Ticket Status</h3>
			<a href="#" class="clear-ticket">X</a>
		</div>
			<div class="bbm-modal__section">
				<p>Would you like to turn this ticket in to an open ticket?</p>
			    <a href="#" class="pure-button pure-button-special pure-button-success status-open-ticket action-open-ticket">Yes, Open Ticket</a>
			    <a href="#" class="pure-button pure-button-special pure-button-warning status-quote-ticket action-quote-ticket">No, Keep as Quote Ticket</a>
			    <a href="#" class="pure-button pure-button-special pure-button-success status-open-ticket status-make-payments make-payments-direct">Make Payments</a>
			    <a href="#" class="pure-button pure-button-special pure-button-warning status-quote-ticket status-make-payments make-rma-direct">Return Merchandise</a>
			    <div class="open-tickets-container"></div>
			</div>
			<div class="bbm-modal__bottombar">
				<a href="#" class="pure-button pure-button-error hidden-cancel-button ticket-checkout-cancel">Cancel</a>
			</div>
	</script>

	<script type="text/template" id="ticket-checkout-modal">
		<div class="bbm-modal__topbar">
			<h3 class="bbm-modal__title title">Ticket Checkout</h3>
		</div>
			<div class="bbm-modal__section">
			<div class="info-menu-tabs pure-menu pure-menu-open pure-menu-horizontal">
			    <ul>
			        <li class="pure-menu-selected cash-checkout"><a href="#">Cash Checkout</a></li>
			        <li class="card-checkout"><a href="#">Credit / Debit Card Checkout</a></li>
			        <li class="term-checkout"><a href="#">Term Credits Checkout</a></li>
			    </ul>
			</div>
			<div class="tabs">
				<div class="tab cash-checkout pure-form">
					<div>
					<div class="change-remaining-label">Amount Remaining:</div>
					<div class="change-left-value"></div>
					</div>

					<div>
					<div class="change-remaining-label">Change:</div>
					<div class="change-value"></div>
					</div>
					<hr />
				    <div>
					<div class="change-remaining-label">Sub Total:</div>
					<div class="change-due-value"></div>
					</div>

					<div>
					<div class="change-remaining-label">Tax Due:</div>
					<div class="tax-due-value"></div>
					</div>

					<div>
					<div class="total-remaining-label">Total Due:</div>
					<div class="total-left-value"></div>
					</div>

					<div class="checkout-cash-line">
					<label class="cash-paid-label" for="cash-paid">Cash Paid:</label>
					<input id="cash-paid" type="text" class="cash-paid" value="0.00" />
					</div>

					<div class="rma-credit-usage toggle-payment">
						<input type="checkbox" id="rma-payment" name="rma-payment" value="rma_payment" /><label for="rma-payment">Use RMA Credit</label>
						<div class="payment-input hidden-child">
							<div class="rma-remaining-label">RMA Credit:</div>
							<div class="rma-left-value"></div>
							<div>
							<label for="rma-amount">Credit Usage:</label>
							<input id="rma-amount" type="text" class="rma-amount" value="0.00" />
							</div>
						</div>
					</div>

					<div class="ar-credit-usage toggle-payment">
						<input type="checkbox" id="ar-payment" name="ar-payment" value="ar_payment" /><label for="ar-payment">Use AR Credit</label>
						<div class="payment-input hidden-child">
							<div>
							<label for="ar-amount">AR Usage:</label>
							<input id="ar-amount" type="text" class="ar-amount" value="0.00" />
							</div>
						</div>
					</div>

					<div class="check-payment toggle-payment">
						<input type="checkbox" id="check-payment" name="check-payment" value="check_payment" /><label for="check-payment">Check Payment</label>
						<div class="payment-input hidden-child">
							<div>
							<label for="check-amount">Check Amount:</label>
							<input id="check-amount" type="text" class="check-amount" value="0.00" />
							</div>
							<label for="check-number">Check Number:</label>
							<input id="check-number" type="text" class="check-number" />
							<input type="checkbox" id="post-dated" name="post-dated" value="post_dated" /><label for="post-dated">Post Dated</label>
							<div class="cash-date-input hidden-child">
								<label for="cash-date">Check Date:</label>
								<input type="date" id="cash-date" name="cash-date" value="" />
							</div>
						</div>
					</div>

					<div class="mo-payment toggle-payment">
						<input type="checkbox" id="mo-payment" name="mo-payment" value="mo_payment" /><label for="mo-payment">Money Order Payment</label>
						<div class="payment-input hidden-child">
							<div>
							<label for="money-order">M.O. Amount:</label>
							<input id="money-order" type="text" class="mo-amount" value="0.00" />
							</div>
							<div>
							<label for="mo-ref">Reference:</label>
							<input id="mo-ref" type="text" class="mo-ref" value="" />
							</div>
						</div>
					</div>

					<div class="cc-payment toggle-payment">
						<input type="checkbox" id="cc-payment" name="cc-payment" value="cc_payment" /><label for="cc-payment">Credit Card Payment</label>
						<div class="payment-input hidden-child">
							<input type="checkbox" id="cc-payment-split" name="cc-payment-split" value="cc_payment_split" /><label class="full-label" for="cc-payment-split">Swipe Remaining Amount</label>
							<div class="payment-input-split hidden-child">
								<div>
									<div class="change-remaining-label">Amount Remaining:</div>
									<div class="change-left-value"></div>
								</div>

								<div class="status-message">Swipe credit card to continue...</div>
							</div>
							<div class="manual-cc">
								<div>
									<label for="chrg-ref">Charge Amount:</label>
									<input id="chrg-ref" type="text" class="charge-amount" value="0.00" />
								</div>
								<div>
									<label for="transaction-id">Transaction #:</label>
									<input id="transaction-id" type="text" class="transaction-id" value="" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab credit-card-checkout"></div>
				<div class="tab term-credit-checkout"></div>
			</div>
			</div>
			<div class="bbm-modal__bottombar">
			<a href="#" class="pure-button pure-button-success ticket-checkout-continue">Checkout</a>
			    <a href="#" class="pure-button pure-button-error ticket-checkout-cancel">Cancel</a>
			</div>
	</script>

	<script type="text/template" id="credit-payments-checkout">
		<div class="credit-payments-checkout pure-form">
			<a href="#" class="reload-payments">Reload</a>
			<div>
			<div class="remaining-due-label checkout-label">Remaining Due:</div>
			<div class="remaining-due-value checkout-value"><%= accounting.formatMoney(pending_payments) %></div>
			</div>

			<div>
			<div class="payment-made-label checkout-label">Payment:</div>
			<div class="payment-made-value checkout-value"><%= accounting.formatMoney(0) %></div>
			</div>

			<div>
			<div class="change-due-label checkout-label">Change:</div>
			<div class="change-due-value checkout-value"><%= accounting.formatMoney(0) %></div>
			<div class="stash-change-remaining">
			<input type="checkbox" class="stash-change" id="stash-change" name="stash-change" value="stash_change" /><label for="stash-change">Credit Change as RMA</label>
			</div>
			</div>
			<hr />
			<div>
			<div class="amount-due-label checkout-label">Amount Due:</div>
			<div class="amount-due-value checkout-value"><%= accounting.formatMoney(pending_payments) %></div>
			</div>

			<div>
			<div class="credit-limit-label checkout-label">Credit Limit:</div>
			<div class="credit-limit-value checkout-value"><%= accounting.formatMoney(credit_limit) %></div>
			</div>

			<div>
			<div class="term-limit-label checkout-label">Term Limit:</div>
			<div class="term-limit-value checkout-value"><%= term_limit %> Days</div>
			</div>

			<div class="checkout-cash-line">
			<label class="cash-paid-label" for="cash-paid">Cash Paid:</label>
			<input id="cash-paid" type="text" class="cash-paid" value="0.00" />
			</div>

			<div class="rma-credit-usage toggle-payment">
				<input type="checkbox" id="rma-payment" name="rma-payment" value="rma_payment" /><label for="rma-payment">Use RMA Credit</label>
				<div class="payment-input hidden-child">
					<div class="rma-remaining-label">RMA Credit:</div>
					<div class="rma-left-value"><%= accounting.formatMoney(rma_credits) %></div>
					<div>
					<label for="rma-amount">Credit Usage:</label>
					<input id="rma-amount" type="text" class="rma-amount" value="0.00" />
					</div>
				</div>
			</div>

			<div class="check-payment toggle-payment">
				<input type="checkbox" id="check-payment" name="check-payment" value="check_payment" /><label for="check-payment">Check Payment</label>
				<div class="payment-input hidden-child">
					<div>
					<label for="check-amount">Check Amount:</label>
					<input id="check-amount" type="text" class="check-amount" value="0.00" />
					</div>
					<label for="check-number">Check Number:</label>
					<input id="check-number" type="text" class="check-number" />
					<input type="checkbox" id="post-dated" name="post-dated" value="post_dated" /><label for="post-dated">Post Dated</label>
					<div class="cash-date-input hidden-child">
						<label for="cash-date">Check Date:</label>
						<input type="date" id="cash-date" name="cash-date" value="" />
					</div>
				</div>
			</div>

			<div class="mo-payment toggle-payment">
				<input type="checkbox" id="mo-payment" name="mo-payment" value="mo_payment" /><label for="mo-payment">Money Order Payment</label>
				<div class="payment-input hidden-child">
					<div>
					<label for="money-order">M.O. Amount:</label>
					<input id="money-order" type="text" class="mo-amount" value="0.00" />
					</div>
					<div>
					<label for="mo-ref">Reference:</label>
					<input id="mo-ref" type="text" class="mo-ref" value="" />
					</div>
				</div>
			</div>

			<div class="cc-payment toggle-payment">
				<input type="checkbox" id="cc-payment" name="cc-payment" value="cc_payment" /><label for="cc-payment">Credit Card Payment</label>
				<div class="payment-input hidden-child">
					<input type="checkbox" id="cc-payment-split" name="cc-payment-split" value="cc_payment_split" /><label class="full-label" for="cc-payment-split">Swipe Remaining Amount</label>
					<div class="payment-input-split hidden-child">
						<div>
							<div class="remaining-due-label checkout-label">Amount Remaining:</div>
							<div class="remaining-due-value checkout-value"></div>
						</div>

						<div class="status-message">Swipe credit card to continue...</div>
					</div>
					<div class="manual-cc">
						<div>
							<label for="chrg-ref">Charge Amount:</label>
							<input id="chrg-ref" type="text" class="charge-amount" value="0.00" />
						</div>
						<div>
							<label for="transaction-id">Transaction #:</label>
							<input id="transaction-id" type="text" class="transaction-id" value="" />
						</div>
					</div>
				</div>
			</div>

			<div class="history"><div class="checkout-label">History</div>
			<div class="credit-usages"><%= usages %></div></div>
			<div class="print-history payment-history-print"><div class="checkout-label">Print Payment History</div></div>
			<div class="print-history invoice-history-print"><div class="checkout-label">Print Invoice History</div></div>
			<div class="print-history customer-statement-print"><div class="checkout-label">Print Customer Statement</div></div>
		</div>
	</script>

	<script type="text/template" id="process-rma-modal">
		<div class="bbm-modal__topbar">
			<h3 class="bbm-modal__title title">Select Purchase</h3>
		</div>
			<div class="bbm-modal__section">
				<div class="returning-items-select">
					<div class="product-table">
						<div class="line-item-heading">
							<div class="date">Purchase Date</div>
							<div class="sku">Barcode</div>
							<div class="name">Product</div>
							<div class="packaging">Pckg.</div>
							<div class="price">Price</div>
							<div class="purchase-qty">Purchased Qty</div>
							<div class="image"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="bbm-modal__bottombar">
			    <a href="#" class="pure-button pure-button-error ticket-checkout-cancel">Cancel</a>
			</div>
	</script>

	<script type="text/template" id="rma-select-line-item">
		<div id="line-item-<%= id %>" data-id="<%= id %>" class="line-item">
			<div class="date"><%= date %></div>
			<div class="sku"><%= sku %></div>
			<div class="name"><%= name %></div>
			<div class="packaging"><%= packaging %></div>
			<div class="price"><%= accounting.formatMoney(sell_price) %></div>
			<div class="qty">
				<span class="value"><%= remaining_qty %></span>
			</div>
			<div class="image"><img src="<%= thumbnail %>" alt="" width="35" height="35" /></div>
		</div>
	</script>

	<script type="text/template" id="last-scan-item-template">
		<div id="line-scanned-item-<%= id %>" class="line-scanned-item">
			<div class="image"><img src="<%= image %>" alt="" width="200" /></div>
			<div class="last-scanned-info">
				<div class="name"><%= name %></div>
				<div class="packaging"><%= packaging %></div>
				<div class="price"><%= accounting.formatMoney(sell_price) %></div>
			</div>
		</div>
	</script>

	<script type="text/template" id="return-line-item-list-heading">
		<div class="line-item-heading"><div class="returned-item">Returned Items:</div></div>
	</script>

	<script type="text/template" id="return-line-item-total">
		<div class="line-item-heading"><div class="returned-item">Refund Amount: <%= accounting.formatMoney(total) %></div></div>
	</script>

	<script type="text/template" id="process-rma-form">
		<div class="rma-credits"></div>

		<input class="rma-scan" placeholder="Scan Items to Return ..." autocomplete="off" type="text" />

		<div class="returning-items">
			<div class="product-table">
				<div class="line-item-heading">
					<div class="date">Purchase Date</div>
					<div class="sku">Barcode</div>
					<div class="name">Product</div>
					<div class="packaging">Pckg.</div>
					<div class="price">Price</div>
					<div class="return-qty">Return Qty</div>
					<div class="image"></div>
				</div>
			</div>
		</div>

		<div class="return-summary"></div>
		<a href="#" class="pure-button pure-button-success ticket-rma-empty">Create Empty RMA Ticket</a>
		<a href="#" class="pure-button pure-button-error ticket-rma-return">Confirm Return</a>
	</script>


	<script type="text/template" id="rma-final-line-item">
		<div id="line-item-<%= id %>" data-id="<%= id %>" class="line-item">
			<div class="date"><%= date %></div>
			<div class="sku"><a href="#" class="delete-item">Delete Product</a> <%= sku %></div>
			<div class="name"><%= name %></div>
			<div class="packaging"><%= packaging %></div>
			<div class="price"><%= accounting.formatMoney(sell_price) %></div>
			<div class="qty">
				<span class="value"><span class="return-value"><%= returning_qty %></span> of <%= remaining_qty %></span>
				<span class="modifiers">
					<a href="#" class="decrease">-</a>
					<a href="#" class="increase">+</a>
				</span>
			</div>
			<div class="image"><img src="<%= thumbnail %>" alt="" width="35" height="35" /></div>
		</div>
	</script>


	<script type="text/template" id="customer-info-modal">
		<div class="bbm-modal__topbar">
			<h3 class="bbm-modal__title title">Loading Customer Info ...</h3>
			<a href="#" class="customer-info-cancel exit-modal">Exit</a>
		</div>
			<div class="bbm-modal__section">
				<div class="loader"></div>
				<div class="tabs">
					<div class="info-menu-tabs pure-menu pure-menu-open pure-menu-horizontal">
					    <ul>
					        <li class="pure-menu-selected"><a href="#">Customer Info</a></li>
					        <li><a href="#">Invoice History</a></li>
					        <li><a href="#">Payment History</a></li>
					        <li class="rma"><a href="#">Return Merchandise Authorization</a></li>
					    </ul>
					</div>
					<div class="profile-content tab"></div>
					<div class="invoice-history tab"></div>
					<div class="payment-history tab"></div>
					<div class="rma-form tab"></div>
				</div>
			</div>
			<div class="bbm-modal__bottombar">
				<a href="#" class="pure-button pure-button-success customer-info-continue">Continue</a>
				<a href="#" class="pure-button pure-button-error customer-info-cancel">Cancel</a>
			</div>
	</script>

	<script type="text/template" id="invoice-list-modal">
		<div class="bbm-modal__topbar">
			<h3 class="bbm-modal__title title">Loading Invoices ...</h3>
			<a href="#" class="customer-info-continue exit-modal">Exit</a>
		</div>
		<div class="bbm-modal__section">
			<div class="loader"></div>
			<div class="tabs">
			<div class="invoice-list-content invoice-history invoice-recent-history tab"></div>
			<div class="invoice-list-content invoice-history invoice-quote-history tab"></div>
			<div class="invoice-list-content invoice-history invoice-open-history tab"></div>
			<div class="invoice-list-content invoice-history invoice-closed-history tab"></div>
			</div>
		</div>
		<div class="bbm-modal__bottombar">
			<a href="#" class="pure-button pure-button-success customer-info-continue">Continue</a>
		</div>
	</script>

	<script type="text/template" id="employee-operations-buttons">
		<a class="pure-button pure-button-success clock-in" href="#">Clock In</a>
		<a class="pure-button pure-button-success lunch-in" href="#">Lunch In</a>
		<a class="pure-button pure-button-error logout" href="#">Logout</a>
	</script>

	<script type="text/template" id="item-search-components">
		<a href="#" class="clear-search">Clear</a>
		<input class="search typeahead" placeholder="Scan or Search Products ..." autocomplete="off" type="text" />
	</script>

	<script type="text/template" id="customer-search-components">
		<input class="search typeahead" placeholder="Search Customers ..." autocomplete="off" type="text" />
	</script>

	<script type="text/template" id="ticket-search-components">
		<input class="search typeahead" placeholder="Search Tickets ..." autocomplete="off" type="text" />
	</script>

	<script type="text/template" id="checkout-buttons">
		<a href="#" class="pure-button pure-button-error checkout-button">Checkout</a>
	</script>

	<script type="text/template" id="rma-buttons">
		<a href="#" class="pure-button pure-button-warning rma-process-button">Process RMA Credit</a>
		<a href="#" class="pure-button pure-button-success rma-cash-button">Process RMA CASH</a>
	</script>

	<script type="text/template" id="item-search-result">
		<div class="search-result">
			<div class="info">
			<div class="sku"><%= sku %></div>
			<div class="name"><%= name %></div>
			<div class="sell_price"><%= accounting.formatMoney(sell_price) %></div>
			<div class="packaging"><%= packaging %></div>
			</div>
			<div class="image" style="background-image: url(<%= image %>);"></div>
		</div>
	</script>

	<script type="text/template" id="customer-search-result">
		<div class="search-result">
			<div class="account_id"><span class="label">Account #: </span><%= account_id %></div>
			<div class="company_name"><span class="label">Company: </span><%= company_name %></div>
			<div class="company_phone"><span class="label">Phone #: </span><%= company_phone %></div>
			<a href="#" rel="<%= id %>" class="customer_info">i</a>
		</div>
	</script>

	<script type="text/template" id="ticket-search-result">
		<div class="search-result">
			<% if(companyName) { %><div class="company-name"><span class="label"><%= companyName %></span></div><% } %>
			<div class="ticket-id"><span class="label">Ticket #: </span><%= ticketId %></div>
			<div class="ticket-status"><span class="label">Status: </span><%= ticketStatus_en %></div>
		</div>
	</script>

	<script type="text/template" id="labelize-data">
		<span class="label"><%= label %>: </span><span class="value"><%= value %></span>
	</script>

	<script type="text/template" id="ticket-line-item-heading">
		<div class="line-item-heading">
			<div class="sku">Barcode</div>
			<div class="name">Product</div>
			<div class="packaging">Pckg.</div>
			<div class="price">Price</div>
			<div class="extprice">Ext. Price</div>
			<div class="image"></div>
			<div class="qty">Qty.</div>
		</div>
	</script>

	<script type="text/template" id="ticket-line-item">
		<div id="line-item-<%= id %>" data-id="<%= id %>" class="line-item">
			<div class="sku"><a href="#" class="delete-item">Delete Product</a> <%= sku %></div>
			<div class="name"><%= name %></div>
			<div class="packaging"><%= packaging %></div>
			<div class="price"><%= accounting.formatMoney(sell_price) %></div>
			<div class="extprice"><%= accounting.formatMoney(sell_price*qty) %></div>
			<div class="image"><img src="<%= thumbnail %>" alt="" width="35" height="35" /></div>
			<div class="qty">
				<span class="value"><%= qty %></span>
				<a href="#" class="decrease">-</a>
				<a href="#" class="increase">+</a>
			</div>
		</div>
	</script>

	<script type="text/template" id="default-customer-badge">
		<div class="default-customer-badge search-tips">
			<p>Search customers by: </p>
			<ul>
				<li>Account #</li>
				<li>Company Name</li>
				<li>Phone Number</li>
				<li>Address or Zip code</li>
			</ul>
		</div>
	</script>

	<script type="text/template" id="ticket-search-badge">
		<div class="ticket-search-badge search-tips">
			<p>Search tickets by: </p>
			<ul>
				<li>Ticket #</li>
				<li>Account #</li>
				<li>Company Name</li>
				<li>Phone Number</li>
			</ul>
		</div>
	</script>

	<script type="text/template" id="selected-customer">
		<div class="company-name"><%= company_name %></div>
		<div class="account-id"><span class="label">Account #: </span><span class="value"><%= account_id %></span></div>
		<div class="company-phone"><span class="label">Phone #: </span><span class="value"><%= company_phone %></span></div>
		<div class="company-address"><span class="label">Address: </span><span class="value"><%= company_address %></span></div>
	</script>

	<script type="text/template" id="default-customer">
		<div class="customer"><span class="label">Customer: </span><span class="value">Walk-in Customer</span></div>
	</script>

	<script type="text/template" id="default-customer-wrap">
		<a href="#" class="clear-customer">Clear</a>
		<div class="selected-customer"></div>
	</script>

	<script type="text/template" id="selected-ticket-wrap">
		<div class="selected-ticket"></div>
	</script>

	<script type="text/template" id="selected-ticket">
		<div class="badge-attr-wrap">
			<div class="ticket-id"><span class="label">Ticket #: </span><span class="value"><%= ticketId %></span></div>
			<div class="ticket-status"><span class="label">Status: </span><span class="value"><%= status_en %></span></div>
			<% if(status == 'pos_quote') { %><div class="status_change"><a href="#">[Convert to Open Ticket]</a></div><% } %>
		</div>
	</script>

	<script type="text/template" id="category-breakdown-template">
		<ul class="category-breakdown-list">
		<% _.each(categories, function(total, category) { %> 
			<li>
			<span class="label"><%= category %>:</span> <span class="value"><%= total %></span>
			</li>
		<% }); %>
		</ul>
	</script>

	<script type="text/template" id="credit-summary-template">
		<div class="credit-summary">
			<div class="available-credit">
				<span class="label">Available Credit: </span><span class="value"><%= available_credit_view %></span>
			</div>
			<div class="credit-limit">
				<span class="label">Credit Limit: </span><span class="value"><%= credit_limit_view %></span>
			</div>
			<div class="pending-payments">
				<span class="label">Pending Payments: </span><span class="value"><%= pending_payments_view %></span>
			</div>
			<hr />
			<div class="credit-total-due credit-amount">
				<span class="label">Sub Total: </span><span class="value"></span>
			</div>
			<div class="credit-total-due credit-tax">
				<span class="label">Tax Due: </span><span class="value"></span>
			</div>
			<div class="credit-total-due credit-total">
				<span class="label">Total Due: </span><span class="value"></span>
			</div>
		</div>
	</script>

	<script type="text/template" id="no-pending-payments">
		<a href="#" class="reload-payments">Reload</a>
		<div class="pending-payments-message">
			Customer does not have any pending payments to be made.
		</div>
		<div class="history"><div class="checkout-label">History</div>
		<div class="credit-usages"><%= usages %></div></div>
		<div class="print-history payment-history-print"><div class="checkout-label">Print Payment History</div></div>
		<div class="print-history invoice-history-print"><div class="checkout-label">Print Invoice History</div></div>
		<div class="print-history customer-statement-print"><div class="checkout-label">Print Customer Statement</div></div>
	</script>

	<script type="text/template" id="credit-card-checkout-template">
		<div class="status-message">Swipe credit card to continue...</div>
		<div class="cc-swipe-field cc-total-due cc-amount">
			<span class="label">Sub Total: </span><span class="value"><%= subtotal %></span>
		</div>
		<div class="cc-swipe-field cc-total-due cc-tax">
				<span class="label">Tax Due: </span><span class="value"><%= tax %></span>
		</div>
		<div class="cc-swipe-field cc-total-due full-total">
			<span class="label">Total Due: </span><span class="value"><%= total %></span>
		</div>
	</script>

	<script type="text/template" id="register-id">A</script>
</body>
</html>