body {
	padding: 0;
	margin: 0;
}
.app-wrap {
  min-width: 960px;   
}

.viewport-wrapper {
 float: left;
 width: 100%;
}

.viewport-main {
 margin: 0px 200px;
 height: 400px;
}

div.left.region {
 width: 200px;
 height: 400px;
 float: left;
 margin-left: -100%;    
}

div.right.region {
 width: 200px;
 height: 400px;
 float: left;
 margin-left: -200px;
}

div.header.region, div.footer.region {
     width: 100%;
     height: 100px;    
     float: left;
}

div.footer.region {
    clear: both;
}