/*Pure CSS Button Colors*/
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/*Application Level Styling*/

body {
	padding: 0;
	margin: 0;
    font: 16px Arial, Helvetica, sans-serif;
     -webkit-user-select: none;
}
.app-wrap {
    min-width: 960px;   
}

.viewport-main {
    margin: 0px 200px;
 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header .viewport-main {
    margin: 0 350px 0 330px;
}

div.header.region {
    height: 100px;
    position: relative;
    z-index: 20;
    cursor: default;
}

div.content.region {
    clear: both;
    position: relative;
    /*height: COMPUTED WITH JS*/
}

div.left.region {
    width: 200px;

    position: absolute;
    bottom: 0;
    top: 0;    
}

div.content.region div.left.region, div.content.region div.right.region {
    bottom: -100px; /* (-1)*footer_height*/
    background: #ccc;
}

div.content.region div.left.region {
    box-shadow: -1px 0px 12px #000;
    z-index: 10;
}

div.content.region div.right.region {
    box-shadow: 2px 0px 12px #000;
    z-index: 10;
}

div.left.region.logo {
    width: 330px;
    background: url(../images/ggw_logo.png) no-repeat center center;
}

div.right.region {
    width: 200px;

    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
}

div.header div.right.region {
    width: auto;
}

div.footer.region {
    height: 100px;
    position: relative;
}

div.footer.region .viewport-main {
    background: #000;
    border: 4px solid #96B8F0;
    right: 10px;
    left: 10px;
    bottom: 5px;
}

div.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 100;
}

.bbm-wrapper {
    overflow: auto;
}

.login-form input[type="text"], .login-form input[type="password"] {
	width: 100%;
}
/*Preloaders*/
.preloader {
    width: 30px;
    height: 30px;
    background: url(../images/preloader.gif);
}
.login-modal-bottombar {
    position: relative;
}
.login-modal-bottombar .preloader {
    position: absolute;
    right: 100px;
    bottom: 23px;
    display: none;
}

.clock {
    zoom: .5;
    margin: 0;
}

/* Misc */
.gradient {
    margin: 0;
    box-shadow: 0 0 4px #000;
    background: #7ABCFF;
    /*background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ABCFF), color-stop(44%,#60ABF8), color-stop(100%,#4096EE));
    background: -webkit-linear-gradient(top, #7ABCFF 0%,#60ABF8 44%,#4096EE 100%);*/
    /*background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);*/
    /*background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );*/
    background: linear-gradient(to bottom, #7ABCFF 0%,#60ABF8 44%,#4096EE 100%);
}

/*Buttons*/
.employeeOperations .controls {
    margin: 7px auto 0;
}
.employeeOperations .clock {
    margin: 10px 0 0 0;
    font-size: 35px;
    float: right;
}

.employeeOperations .clock, .employeeOperations .greeting {
    text-shadow: 2px 2px 3px #fff;
}

.employeeOperations .controls a {
    float: left;
    margin: 0 5px 0 0;
}
.employeeOperations .controls a.logout {
    margin: 0;
}

.employeeOperations .wrapper {
    background: rgba(255, 255, 255, 0.3);
    float: right;
    margin: 4px 6px 2px 0;
    border-radius: 10px;
    padding: 3px 7px;
}

/*Ticket*/
div.mousetrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
div.ticket-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;

    border: 1px solid #96B8F0;
    margin: 8px 10px;
}
div.ticket-container .product-table {
    display: table;
    width: 100%;
}
div.ticket-container .product-table .line-item, div.ticket-container .product-table .line-item-heading {
    display: table-row;
}
div.ticket-container .product-table .line-item a.delete-item {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/delete-outline.png) no-repeat;
    text-indent: -999px;
    background-size: cover;
}
div.ticket-container .product-table .line-item a.delete-item:hover {
    background-image: url(../images/delete.png);
}
div.ticket-container .product-table .line-item .qty span {
    float: left
}
div.ticket-container .product-table .line-item .qty a {
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
}

div.ticket-container .product-table .line-item .qty a.increase {
    background-image: url(../images/plus-outline.png);
}

div.ticket-container .product-table .line-item .qty a.decrease {
    background-image: url(../images/minus-outline.png);
}

div.ticket-container .product-table .line-item .qty a.increase:hover {
    background-image: url(../images/plus.png);
}

div.ticket-container .product-table .line-item .qty a.decrease:hover {
    background-image: url(../images/minus.png);
}

div.ticket-container .product-table .line-item-heading {
    background: #E9E9E9;
}
div.ticket-container .product-table .line-item > div, div.ticket-container .product-table .line-item-heading > div {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
}
div.ticket-container .product-table .line-item-heading > div {
    padding: 5px;
    font-weight: bold;
}

div.register-display {
    color: #fff;
}
div.register-display .subtotal {
    font-size: 1.2em;
}
div.register-display span.label {
    color: #68b800;
    text-transform: uppercase;
}
.default-customer-badge {
    font-size: .6em;
}
.default-customer-badge p {
    margin: 0;
    color: rgb(202, 60, 60);
    font-weight: bold;
    padding: 0 0 0 .2em;
}
.default-customer-badge ul {
    margin: .4em 0;
}
.search-result span.label {
    font-weight: bold;
}