/*Pure CSS Button Colors*/
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
    border: 1px solid #fff;
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
    border: 1px solid #fff;
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/*Application Level Styling*/

body {
	padding: 0;
	margin: 0;
    font: 16px Arial, Helvetica, sans-serif;
     -webkit-user-select: none;
}
.app-wrap {
    min-width: 1000px;   
}
.app-wrap .tt-query:disabled {
    border-color: rgb(236, 116, 116);
}

.viewport-main {
    margin: 0px 200px 0 250px;
 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header .viewport-main {
    margin: 0 315px 0 330px;
}

div.header.region {
    height: 100px;
    position: relative;
    z-index: 20;
    cursor: default;
}

div.content.region {
    clear: both;
    position: relative;
    /*height: COMPUTED WITH JS*/
}

div.left.region {
    width: 250px;
    position: absolute;
    bottom: 0;
    top: 0;
}

div.content.region div.left.region, div.content.region div.right.region {
    bottom: -100px; /* (-1)*footer_height*/
    background: #ccc;
}

div.content.region div.left.region {
    box-shadow: -1px 0px 12px #000;
    z-index: 10;
}

div.content.region div.right.region {
    box-shadow: 2px 0px 12px #000;
    z-index: 10;
}

div.left.region.logo {
    width: 330px;
    background: url(../images/ggw_logo.png) no-repeat center center;
}

div.right.region {
    width: 200px;

    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
}

div.header div.right.region {
    width: auto;
}

div.footer.region {
    height: 100px;
    position: relative;
}

div.footer.region .viewport-main.register-display {
    background: #000;
    border: 4px solid #96B8F0;
    right: 10px;
    left: 10px;
    bottom: 5px;
    cursor: default;
}

div.footer.region .viewport-main.register-display .subtotal {
    margin: 17px 0 0 1%;
    width: 29%;
    position: relative;
}

div.footer.region .viewport-main.register-display .product-count {
    margin: 12px 0 0 1%;
    width: 29%;
    position: relative;
}

div.dialogOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 100;
}

div.loaderOverlay {
    background: rgba(0, 0, 0, 0.5) url(../images/preloader_64.gif) no-repeat center center;
}

div.loaderOverlay a.refresh {
    display: block;
    width: 48px;
    height: 48px;
    background: url(../images/refresh.png) no-repeat;
    position: absolute;
    right: 0;
}

div.loaderOverlay a.refresh:hover {
    background: url(../images/refresh-outline.png) no-repeat;
}

.bbm-wrapper {
    overflow: auto;
}

.login-form input[type="text"], .login-form input[type="password"] {
	width: 100%;
}
/*Preloaders*/
.preloader {
    width: 30px;
    height: 30px;
    background: url(../images/preloader.gif);
}
.login-modal-bottombar {
    position: relative;
}
.login-modal-bottombar .preloader {
    position: absolute;
    right: 100px;
    bottom: 23px;
    display: none;
}

.clock {
    zoom: .5;
    margin: 0;
}

/* Misc */
.gradient {
    margin: 0;
    box-shadow: 0 0 4px #000;
    background: #7ABCFF;
    /*background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ABCFF), color-stop(44%,#60ABF8), color-stop(100%,#4096EE));
    background: -webkit-linear-gradient(top, #7ABCFF 0%,#60ABF8 44%,#4096EE 100%);*/
    /*background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);*/
    /*background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );*/
    background: linear-gradient(to bottom, #7ABCFF 0%,#60ABF8 44%,#4096EE 100%);
}

/*Buttons*/
.employeeOperations .controls {
    margin: 7px auto 0;
}
.employeeOperations .clock {
    margin: 10px 0 0 0;
    font-size: 35px;
    float: right;
}

.employeeOperations .clock, .employeeOperations .greeting {
    text-shadow: 2px 2px 3px #fff;
}

.employeeOperations .controls a {
    float: left;
    margin: 0 5px 0 0;
}
.employeeOperations .controls a.logout {
    margin: 0;
}

.employeeOperations .wrapper {
    background: rgba(255, 255, 255, 0.3);
    float: right;
    margin: 4px 6px 2px 0;
    border-radius: 10px;
    padding: 3px 7px;
}

/*Ticket*/
/*
div.mousetrap {
    position: absolute;
    top: -100px;
    right: -200px;
    bottom: -100px;
    left: -250px;
    z-index: 0;
}
*/
div.ticket-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;

    border: 1px solid #96B8F0;
    margin: 8px 10px;
}
.product-table {
    display: table;
    width: 100%;
}
.product-table .line-item, .product-table .line-item-heading {
    display: table-row;
}
.product-table .line-item a.delete-item {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/delete-outline.png) no-repeat;
    text-indent: -999px;
    background-size: cover;
    vertical-align: middle;
}
.product-table .line-item:hover {
    background: #DDF4FE;
}
.product-table .line-item a.delete-item:hover {
    background-image: url(../images/delete.png);
}
/*
.product-table .line-item .qty span {
    float: left
}*/
.product-table img {
    vertical-align: middle;
}
.product-table .line-item .qty a, .price-override-settings .qty-split a {
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
}

.product-table .line-item .qty a.increase, .price-override-settings .qty-split a.incr {
    background-image: url(../images/plus-outline.png);
}

.product-table .line-item .qty a.decrease, .price-override-settings .qty-split a.decr {
    background-image: url(../images/minus-outline.png);
}

.product-table .line-item .qty a.increase:hover, .price-override-settings .qty-split a.incr:hover {
    background-image: url(../images/plus.png);
}

.product-table .line-item .qty a.decrease:hover, .price-override-settings .qty-split a.decr:hover {
    background-image: url(../images/minus.png);
}

.product-table .line-item-heading {
    background: #E9E9E9;
}
.product-table .line-item .manager-overriden {
    background: #FFFA7C;
}
.product-table .line-item > div, .product-table .line-item-heading > div {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
}
.product-table .line-item-heading > div {
    padding: 5px;
    font-weight: bold;
}
.product-table .line-item .price:hover {
    background: #FF0A0A;
    color: #fff;
}

div.register-display {
    color: #fff;
}
div.register-display .subtotal {
    font-size: 1.2em;
}
div.register-display .subtotal span.value, div.register-display .product-count span.value {
    position: absolute;
    right: 0;
}
div.register-display span.value {
    background: #000;
}
div.register-display span.label {
    color: #38ED00;
    text-transform: uppercase;
}
.search-tips {
    font-size: .6em;
}
.search-tips p {
    margin: 0;
    color: rgb(202, 60, 60);
    font-weight: bold;
    padding: 0 0 0 .2em;
}
.search-tips ul {
    margin: .4em 0;
}
.search-result span.label {
    font-weight: bold;
}
.price span.orig {
    text-decoration: line-through;
}
.selected-customer, .badge-attr-wrap {
    font-size: 11px;
    background: rgba(255,255,255,.8);
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0 6px;
    border-radius: 10px;
    margin: 0 0 10px;
}
.selected-customer span.value, .badge-attr-wrap span.value {
    margin: 0 0 0 4px;
}
.selected-customer span.label, .badge-attr-wrap span.label {
    font-weight: bold;
    width: 70px;
    display: inline-block;
    text-align: right;
}
.selected-customer div, .badge-attr-wrap div {
    margin: 10px 0;
}
.selected-customer .company-address {
    position: relative;
    float: left;
    margin: 0 0 10px;
}
.selected-customer .company-address span.label {
    float: left;
}
.selected-customer .company-address span.value {
    float: left;
    width: 96px;
}
.selected-customer .company-name {
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0;
    text-decoration: underline;
    padding: 0 15px 0 0;
    word-break: break-all;
}
.customer-search a.clear-customer {
    width: 20px;
    height: 20px;
    background: url(../images/delete-outline.png) no-repeat;
    text-indent: -999px;
    background-size: cover;
    display: block;
    position: absolute;
    right: 2px;
    top: 2px;
}

.customer-search a.clear-customer:hover {
    background-image: url(../images/delete.png);
}
.header ul.menu {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    display: inline-block;
    right: 0;
}


.header ul.menu li {
    display: block;
    float: left;
}

.header ul.menu li a {
    color: #fff;
    text-decoration: none;
    background: #000;
    padding: 10px;
    margin: 3px 10px 0 0;
    border-radius: 10px 10px 0 0;
    font-size: 17px;
    float: left;
}

@media only screen and (max-width: 1450px) {
    .header ul.menu li a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1250px) {
    .header ul.menu li a {
        font-size: 12px;
        margin-right: 2px;
        padding: 10px 5px;
    }
}

.header ul.menu li:last-child a {
    margin-right: 0;
}

.header ul.menu li a:hover {
    color: #000;
    background: #fff;
}
.header ul.menu li.hiddenItem {
    display: none;
}
.ticketSearch .progress {
    width: 48px;
    height: 48px;
    background: url(../images/cancel.png);
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}
.statusOverlay a.pure-button {
    width: 243px;
    padding: 27px 0;
}
.statusOverlay .bbm-modal {
    max-width: 600px;
}
.statusOverlay a.status-quote-ticket {
    float: right;
}
.ticketSearch .checkout, .ticketSearch .rma-process {
    padding: 0 10px;
    display: none;
}
.checkout a.checkout-button, .rma-process a.rma-process-button {
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}
.category-breakdown {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
}
.category-breakdown ul.category-breakdown-list {
    float: right;
    list-style: none outside none;
    margin: 11px 0 10px;
    padding: 0;
    width: 97%;
}

.category-breakdown ul.category-breakdown-list li {
    width: 50%;
    float: left;
    margin: 2px 0;
    position: relative;
}

.category-breakdown ul.category-breakdown-list li span.value {
    position: absolute;
    right: 20px;
}

div.register-display .category-breakdown span.label {
    color: #F3FF00;
}

/*Ticket Locking: Disable all line item editing functionality*/
a.forceHide, .lockedTicket a.delete-item, .lockedTicket a.increase, .lockedTicket a.decrease {
    display: none !important;
}
.lock-indicator {
    display: none;
    position: absolute;
    bottom: 3px;
    text-indent: -9999px;
    width: 100%;
}
a.lock-toggle, a.print-ticket, a.unlock-price-override {
    display: block;
    width: 48px;
    height: 48px;
}

a.lock-toggle, a.unlock-price-override {
     float: left;
     background: url(../images/lock-closed-outline.png);
}

a.lock-toggle:hover, a.unlock-price-override:hover {
    background-image: url(../images/lock-open-outline.png);
}

a.lock-toggle:active, a.unlock-price-override:active {
    background-image: url(../images/lock-open.png);
}

a.unlock-price-override {
    text-indent: 9999px;
    background-position: 0px -6px;
    height: 36px;
}

a.print-ticket {
    float: right;
    background: url(../images/printer.png);
}

a.print-ticket:hover {
    opacity: .5;
}

.tabs .tax-due-value, .tabs .credit-total-due span.value, .tabs .change-due-value, .tabs .change-value, .tabs .change-left-value, .return-summary span.value, .term-credit-checkout .credit-summary span.value, .tabs div.total-left-value, .tabs div.cc-swipe-field span.value, .credit-payments-checkout .checkout-value {
    font-size: 25px;
    color: #CF7809;
    display: inline-block;
    font-weight: bold;
}
.tabs input.cash-paid {
    font-size: 50px;
    width: 100%;
    padding: 7px 12px;
}

.tabs label.cash-paid-label, .tabs .credit-total-due span.label, .tabs .change-remaining-label, .return-summary span.label, .term-credit-checkout .credit-summary span.label, .tabs div.total-remaining-label, .tabs div.cc-swipe-field span.label, .credit-payments-checkout .checkout-label {
    display: inline-block;
    margin: 20px 0 10px;
    color: #5980BB;
    font-size: 22px;
    width: 232px;
}
.tabs label.cash-paid-label {
    display: block;
}

a.ticket-customer-link {
    text-decoration: none;
    color: #4568D1;
}

a.ticket-customer-link:hover {
    text-decoration: underline;
}
.rma-form {
    margin: 10px 0 0;
}

.rma-form input.rma-scan {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
  margin: 15px 0;
  display: block;
  box-sizing: border-box;
}

.rma-form input.rma-scan:focus {
    border-color: #0097cf;
}

.rmaItemSelectOverlay .bbm-modal {
    max-width: 900px;
}

.rmaItemSelectOverlay .returning-items-select .line-item {
    cursor: pointer;
}
.rmaItemSelectOverlay .returning-items img {
    vertical-align: middle;
}
.toggle-payment {
    margin: 10px 0;
}
.toggle-payment label {
    font-size: 25px;
}
.toggle-payment input {
    zoom: 2;
}
.toggle-payment input[type="text"] {
    margin: 0 0 2px;
}
.toggle-payment .payment-input {
    background: #E6E6E6;
    padding: 10px;
    border: 1px solid #5980BB;
}

.toggle-payment .hidden-child {
    display: none;
}

.toggle-payment .payment-input label {
    display: inline-block;
    width: 25%;
}

.toggle-payment .payment-input label.full-label {
    width: auto;
}

a.ticket-rma-return {
     margin-top: 10px;
}

.status-message {
    background: #F2FFE7;
    padding: 10px;
    margin: 15px 0 10px;
    border: 1px solid #338000;
    font-weight: bold;
}

.status-message.in-progress {
    background-image: url(../images/ccprogress.gif);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.selected-ticket .status_change {
    text-align: center;
}
.selected-ticket .status_change a {
    text-decoration: none;
    font-weight: bold;
    color: #D34646;
}
.selected-ticket .status_change a:hover {
    color: #FF2727;
}