.inventory-manager .viewport-main {
	margin: 0 auto;
}

div.header div.right.region {
	width: 400px;
}

div.header div.right.region h2 {
	position: absolute;
	bottom: 0;
}

div.content.region {
	clear: both;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 3px;
	top: 100px;
}

div.header div.right.region h2 {
	margin: 60px 10px 10px 10px;
	color: #B7E1FF;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 22px;
	letter-spacing: 6px;
}

.line-item-title .line-item .image {
	background-size: contain;
	height: 120px;
	background-repeat: no-repeat;
	background-position: center;
}

.line-item-title .line-item .sku, .line-item-heading .line-item .packaging {
	width: 210px;
}

.line-item-title .line-item .price {
	text-align: center;
	cursor: pointer;
	width: 160px;
}

.line-item-heading .price {
	text-align: center;
}

.item-update-log {
	width: 100%;
}
.line-item-log {
	font-size: .8em;
	margin: 10px 0;
}
.inventory-item {
	margin: 18px;
	border: 1px solid #ccc;
}

.product-table .line-item:hover { 
	background: #fff;
}